<div class="well" ng-controller="authCtrl">
    <div class="alert alert-info">
        Enter your username and putenticate
    </div>
    <div class="alert alert-danger" ng-if="!!authenticationError">
        Authentication Failed ({{authenticationError.status}}). Try again.
    </div>

    <form name="authForm" novalidate>
        <div class="form-group">
            <label>Username</label>
            <input name="username" class="form-control" ng-model="username" required/>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input name="password" class="form-control" type="password" ng-model="password" required />
        </div>

        <div class="text-center">
            <button class="btn btn-primary"
                    ng-disabled="authForm.$invalid"
                    ng-click="authenticate(username, password)">
                Log In
            </button>
        </div>
    </form>
</div>